.main {
    position: relative;
    width: 100%;
    height: 100vh;
}
.bg {
    width: 100%;
    height: 100%;
    z-index: -20;
}
div.main img {
    position: absolute;
}
.superman {
    bottom: 0;
    left: 175px;
}

.planet1 {
    top: 145px;
    width: 350px;
    height: 350px;
    left: 37%;
    z-index: 5;
}

.planet2 {
    height: 130px;
    width: 130px;
    top: 123px;
    left: 55.8%;
    z-index: 0;
}

.spaceship {
    top: 152px;
    left: 54.3%;
}

.planet3 {
    width: 475px;
    height: 475px;
    bottom: 125px;
    right: 150px;
    z-index: 0;
}

.ufo {
    width: 100px;
    bottom: 190px;
    right: 545px;
    z-index: 5;
}

.asteroid {
    top: 425px;
    left: 345px;
}

.textbox {
    font-size: 18px;
    width: 190px;
    height: 50px;
    background-color: white;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    bottom: 75px;
    left: 260px;
}